{% extends "mainTemplate.html" %}
{% load static %}
{#{{ name }}#}
{#{{ d }}#}
{#{{ arr }}#}
{#<br>#}
{#{% for i in arr %}#}
{#    {% if i == 2 %}#}
{#        <i>{{ i|add:1 }}</i><br>#}
{#    {% else %}#}
{#        <h1>{{ i|add:10 }}</h1><br>#}
{#    {% endif %}#}
{#{% endfor %}#}

{#<h1>hello world from template!!@!!!!!!</h1>#}
{% block title %}all video{% endblock %}
{% block links %}<script src="{% static "script.js" %}"></script>>{% endblock %}

{% block video %}
<img src="{% static "Webcam_2018-01-31_15-29-54.jpg" %}">
{% for video in content %}
    <iframe width="956" height="538" src="{{ video.urls }}"></iframe>
    <a href="/hello/one_video/{{ video.id }}/">
        <h4>
            <i>{{ video.title }}</i>
        </h4>
    </a>
    <h3>{{ video.date }}</h3>
    <h3 class="like" id="{{ video.id }}">Likes: {{ video.likes }}</h3>
    <h5>{{ video.description }}</h5>
    {% for com in video.comment.all %}
        <h5>{{ com.text }}</h5>
        <h6>{{ com.date }}</h6>
        <hr>
    {% endfor %}

{% include "test.html" with some_id=video.id %}
{#    <form action="/hello/comment/{{ video.id }}/" method="get">#}
{#        <div class="form-group">#}
{#          <label for="comment">Comment:</label>#}
{#          <textarea class="form-control" rows="5" name="com"></textarea>#}
{#        </div>#}
{#        <button type="submit" class="btn btn-outline-dark">Dark</button>#}
{#    </form>#}
{% endfor %}
{% endblock %}